$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// MAIN PAGE
.jumbotron {
  margin: 0;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.description {
  padding: 40px 0;
}

.anagrams-placeholder {
  display: flex;
  flex-wrap: wrap;
}

.anagram-group {
  padding: 10px;

  UL {
    padding: 15px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f1f1f1;
    background-clip: content-box;
  }

  LI {
    padding: 5px 10px;
    border-bottom: 1px solid #fff;
  }
}

// GLOBAL
.bg-danger {
  color: #a94442;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
