<div class="row">
    <div class="jumbotron">
        <h2>Select your CSV file:</h2>
        <div class="form-group">
            <input type="file" name="csvFile" class="form-control" accept=".csv" callback="updateAnagrams(csv)" csv-reader>
        </div>
        <button class="btn btn-danger" ng-click="vm.cleanWords()" ng-if="vm.anagrams.wordsCount">Clean</button>
    </div>
</div>

<div class="row description">
    <div ng-if="vm.anagrams.wordsCount">
        <div ng-if="!vm.anagrams.anagrams.length">
            <h5>We did not find anagrams :(</h5>
        </div>

        <div ng-if="vm.anagrams.anagrams.length">
            <h5><b>{{ vm.anagrams.anagrams.length }}</b> anagrams found ({{vm.anagrams.anagramsCount}} words):</h5>
            <div class="anagrams-placeholder">
                <div class="col-xs-12 col-sm-4 anagram-group" ng-repeat="anagram in vm.anagrams.anagrams">
                    <ul class="list-unstyled">
                        <li ng-repeat="word in anagram">{{ word }}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div ng-if="vm.anagrams.notAnagrams.length">
            <h5><b>{{ vm.anagrams.notAnagramsCount }}</b> words without anagrams:</h5>
            <div class="anagrams-placeholder">
                <div class="col-xs-12 anagram-group">
                    <ul class="list-unstyled">
                        <li ng-repeat="word in vm.anagrams.notAnagrams">{{ word }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="!vm.anagrams.wordsCount">
        <h3>What is an anagram?</h3>
        <p>
            An anagram is a rearrangement of the letters of one word or phrase to form another word or phrase.<br>
            A example of an anagram is rearranging the letters of "Evil" to get "Vile".
        </p>
        <p>Download an example of <a href="csv/english-words-example.csv" target="_blank">CSV file</a> to test the platform.</p>
    </div>
</div>
